{% include 'header.html' %}
<div class="app-space">
    <div class="content index">
        <div class="box-button box-button-search">
            <a href="/search/">
                <strong>Find a Movie</strong>
            </a>
        </div>
        <div class="box-button box-button-movies">
            <a href="/movies/">
                <strong>Your Movies</strong>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- /.placeholder -->
{% include 'footer.html' %}