{% include 'header.html' %}
<div class="app-space">
    <div class="headline-space">
        <h1>Your Movies</h1>
    </div>
    <div class="filter-by">
        <p>
            <label for="filter-by">Filter By:</label>
            <select id="filter-by" name="filter-by">
                <option value="movie_title" {% if filter_by == 'movie_title'%} selected="selected" {% endif %}>Title</option>
                <option value="movie_format" {% if filter_by == 'movie_format'%} selected="selected" {% endif %}>Format</option>
                <option value="movie_length" {% if filter_by == 'movie_length'%} selected="selected" {% endif %}>Length</option>
                <option value="movie_release" {% if filter_by == 'movie_release'%} selected="selected" {% endif %}>Release Year</option>
                <option value="movie_rating" {% if filter_by == 'movie_rating'%} selected="selected" {% endif %}>Rating</option>
            </select>
        </p>
    </div>
    <div class="additional-actions">
        <p>
            <a href="/search/" class="button full mobile-focal-action">Add A Movie</a>
        </p>
    </div>
    <div class="clear"></div>
    <div class="content ">
        {% if movie_list %}
            <div class="faux-table">
                <div class="header">
                    <div class="column primary">
                        Title
                    </div>
                    <div class="column">
                        Format
                    </div>
                    <div class="column align-right slim">
                        Length
                    </div>
                    <div class="column align-right">
                        Release Year
                    </div>
                    <div class="column nudged">
                        Rating
                    </div>
                    <div class="clear"></div>
                </div>
                {% for movie in movie_list %}
                    <div class="row">
                        <div class="column primary">
                            <small class="subtle">Title:</small>
                            <a href="/movies/{{ movie.mid|e }}">{{ movie.movie_title|e }}</a>
                        </div>
                        <div class="column mobile-full">
                            <small class="subtle">Format:</small>
                            {{ movie.movie_format|e }}
                        </div>
                        <div class="column align-right slim mobile-half align-mobile-left">
                            <small class="subtle">Length:</small>
                            {{ movie.movie_length|e }} min
                        </div>
                        <div class="column align-right mobile-half align-mobile-left">
                            <small class="subtle">Release Year:</small>
                            {{ movie.movie_release|e }}
                        </div>
                        <div class="column nudged mobile-full">
                            <p class="rating">
                                <small class="subtle">Rating:</small>
                                {% set k = movie.movie_rating %}
                                {% for i in range(1, k) %}
                                    <i class="icon icon-star-filled"></i>
                                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div><!-- /.row -->
                {% endfor %}
            </div>
        {% else %}
            <div class="no-data">
                <p>
                    There are no movies in your collection.
                </p>
                <p>
                    <a href="/search/" class="button">Add a movie</a>
                </p>
            </div>
        {% endif %}
    </div>
</div><!-- /.placeholder -->
{% include 'footer.html' %}