<div id="navigation" class="navigation">
	<ul>
		<li><a href="/" {% if active_page == 'home'%} class="active" {% endif %}>Home</a></li>
		<li><a href="/movies/" {% if active_page == 'movies'%} class="active" {% endif %}>My Movies</a></li>
		<li><a href="/search/" {% if active_page == 'search'%} class="active" {% endif %}>Search</a></li>
		<li><a href="/sign-out/">Sign Out</a></li>
	</ul>
</div>