{% include 'header.html' %}
<div class="app-space">
    <div class="movie-imagery">
        <img src="{{ movie_details.Poster|e }}" alt="Poster for {{ movie_details.Title|e }}" />
    </div>
    <div class="movie-details">
        <h1>{{ movie_details.Title|e }}</h1>
        <p>{{ movie_details.Plot|e }}</p>
        <form method="post" action="/movies/add/">
            <p>
                <label for="movie_title">Title</label>
                <input type="text" id="movie_title" name="movie_title" value="{{ movie_details.Title|e }}" />
            </p>
            <p>
                <label for="movie_format">Format</label>
                <select id="movie_format" name="movie_format">
                    <option value="DVD">DVD</option>
                    <option value="Streaming">Streaming</option>
                    <option value="VHS">VHS</option>
                </select>
            </p>
            <p>
                <label for="movie_rating">Rating</label>
                <span id="inline-rating" class="inline-rating" data-target="movie_rating"></span>
                <input type="hidden" id="movie_rating" name="movie_rating" value="1" />
            </p>
            <p>
                <input type="hidden" id="imdbID" name="imdbID" value="{{ movie_details.imdbID|e }}" />
                <input type="hidden" id="movie_release" name="movie_release" value="{{ movie_details.Year|e }}" />
                <input type="hidden" id="movie_length" name="movie_length" value="{{ movie_details.Runtime|e }}" />
                <input type="hidden" id="imdbID" name="imdbID" value="{{ movie_details.imdbID|e }}" />
                <input type="submit" id="add-movie" class="button" value="Add This Movie" /> <a href="/search/" class="button mute">Cancel</a>
            </p>
        </form>
    </div>
    <div class="clear"></div>
</div><!-- /.placeholder -->
<script id="inline-empty-stars" type="text/x-handlebars-template">
    {% verbatim %}
        <a href="#" data-rating="" onClick="interaction.updateRating({{data_value}}, '{{data_target}}'); return false;">
            <i class="icon icon-star-empty"></i>
        </a>
    {% endverbatim %}
</script>
<script id="inline-filled-stars" type="text/x-handlebars-template">
    {% verbatim %}
        <a href="#" data-rating="" onClick="interaction.updateRating({{data_value}}, '{{data_target}}'); return false;">
            <i class="icon icon-star-filled"></i> 
        </a>
    {% endverbatim %}
</script>
{% include 'footer.html' %}