{% include 'header.html' %}
<div class="app-space">
    <div class="headline-space">
        <h1>Find A Movie</h1>
    </div>
    <div class="search-box">
        <p>
            <input type="search" id="search-field" value="" />
        </p>
    </div>
    <div class="clear"></div>
    <div class="content">
        <div id="search-results"></div>
    </div>
    <script id="movie-list" type="text/x-handlebars-template">
        {% verbatim %}
            {{#if results}}
                <ul class="search-results">
                    {{#each results}}
                        <li>
                            <a href="/search/{{ imdbID }}" class="{{ Mine }}">
                                <span class="search-image">
                                    <img src="{{ Poster }}" alt="Poster for {{ Title }}" />
                                </span>
                                <strong>{{ Title }}</strong>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="no-data">
                    <p>No results found.</p>
                </div>
            {{/if}}
            <div class="entry">
                
            </div>
        {% endverbatim %}
    </script>
</div><!-- /.placeholder -->
{% include 'footer.html' %}