{% include 'header.html' %}
<div class="sign-up-space">
    <div class="content">
        <div class="branding">
            <a href="/" class="logo">Movie Bohx</a>
        </div>
        <form method="post" action="/sign-up/" class="auth-form">
            <h1>Manage Your Movies With Ease</h1>
            <ul id="auth-tabs" class="tabs">
                <li><a href="/sign-in/">Sign In</a></li>
                <li><a href="/sign-up/" class="active">Sign Up</a></li>
            </ul>
            {% if auth_errors is not empty %}
                <ul class="errors">
                    {% for error in auth_errors %}
                        <li>{{ error|e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>
                <label for="email_address">Email Address</label>
                <input type="email" id="email_address" name="email_address" required value="" />
            </p>
            <p>
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" value="" />
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required value="" />
            </p>
            <p class="margin-top-double">
                <input type="submit" class="button full" value="Sign In" />
            </p>
        </form>
    </div>
</div><!-- /.sign-up-space -->
{% include 'footer.html' %}