{% include 'header.html' %}
<div class="app-space">
    <div class="movie-imagery">
        <img src="{{ movie_details.Poster|e }}" alt="Poster for {{ movie_details.Title|e }}" />
    </div>
    <div class="movie-details">
        <h1>{{ movie_details.Title|e }}</h1>
        <p>{{ movie_details.Plot|e }}</p>
        <form method="post" action="/movies/{{ movie_customizations.mid|e }}">
            <p>
                <label for="movie_title">Title</label>
                <input type="text" id="movie_title" name="movie_title" value="{{ movie_customizations.movie_title|e }}" />
            </p>
            <p>
                <label for="movie_format">Format</label>
                <select id="movie_format" name="movie_format">
                    <option value="DVD" {% if movie_customizations.movie_format == 'DVD'%} selected="selected" {% endif %}>DVD</option>
                    <option value="Streaming" {% if movie_customizations.movie_format == 'Streaming'%} selected="selected" {% endif %}>Streaming</option>
                    <option value="VHS" {% if movie_customizations.movie_format == 'VHS'%} selected="selected" {% endif %}>VHS</option>
                </select>
            </p>
            <p>
                <label for="movie_rating">Rating</label>
                <span id="inline-rating" class="inline-rating" data-target="movie_rating"></span>
                <input type="hidden" id="movie_rating" name="movie_rating" value="{{ movie_customizations.movie_rating|e }}" />
            </p>
            <p>
                <input type="hidden" id="mid" name="mid" value="{{ movie_customizations.mid|e }}"
                <input type="hidden" id="imdbID" name="imdbID" value="{{ movie_details.imdbID|e }}" />
                <input type="hidden" id="movie_release" name="movie_release" value="{{ movie_details.Year|e }}" />
                <input type="hidden" id="movie_length" name="movie_length" value="{{ movie_details.Runtime|e }}" />
                <input type="hidden" id="imdbID" name="imdbID" value="{{ movie_details.imdbID|e }}" />
                <input type="submit" id="update-movie" class="button" value="Update" /> <a href="/movies/" class="button mute">Cancel</a>
            </p>
            <p>
                <a href="#" id="delete-movie" class="button danger">Remove This Movie</a>
            </p>
        </form>
    </div>
    <div class="clear"></div>
</div><!-- /.placeholder -->
<div id="question-delete" class="cover">
    <div class="modal">
        <form method="post" action="/movies/delete/{{ movie_customizations.mid|e }}/">
            <h2>Are you sure you want to remove {{ movie_customizations.movie_title|e }}?</h2>
            <p><input type="submit" class="button" value="Yes, remove it!" /> <a href="#" id="close-delete-question" class="button mute">No, I still want it.</a></p>
        </form>
    </div>
</div>
<script id="inline-empty-stars" type="text/x-handlebars-template">
    {% verbatim %}
        <a href="#" data-rating="" onClick="interaction.updateRating({{data_value}}, '{{data_target}}'); return false;">
            <i class="icon icon-star-empty"></i>
        </a>
    {% endverbatim %}
</script>
<script id="inline-filled-stars" type="text/x-handlebars-template">
    {% verbatim %}
        <a href="#" data-rating="" onClick="interaction.updateRating({{data_value}}, '{{data_target}}'); return false;">
            <i class="icon icon-star-filled"></i> 
        </a>
    {% endverbatim %}
</script>
{% include 'footer.html' %}