.icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	height: 20px;
	line-height: 1;
	width: 20px;
}

.icon-star-empty {
	background-image: url(../_imgs/icon-star-empty.svg);
}

.icon-star-filled {
	background-image: url(../_imgs/icon-star-filled.svg);
}