@import 'reset';
@import 'variables';
@import 'unsemantic';
@import 'utilities';
@import 'typography';
@import 'icons';

body {
	background: $grey-light;
	font-family: 'Nunito', 'avenir next', 'avenir', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.wrapper {
	@extend .grid-container;
}

header {
	display: block;
	left: 0;
	width: 100%;
	@media (max-width: 767px) {
		background: #fff;
		position: fixed;
		z-index: 11;
	}
	.branding {
		@extend .grid-60;
		@extend .push-20;
		@extend .tablet-grid-60;
		@extend .tablet-push-20;
		@extend .mobile-grid-100;
	}
	.navigation-toggle {
		background: url('../_imgs/icon-menu.svg') no-repeat center;
		background-size: 16px 18px;
		display: block;
		height: 40px;
		left: 20px;
		margin: 40px 0;
		overflow: hidden;
		position: fixed;
		text-indent: -9999px;
		whitespace: nowrap;
		width: 40px;
		z-index: 10;
	}
}
.logo {
	background: url('../_imgs/movie-bohx-logo.svg') no-repeat center;
	background-size: 100%;
	display: block;
	height: 54px;
	margin: 40px auto;
	overflow: hidden;
	text-indent: -9999px;
	whitespace: nowrap;
	width: 105px;
}
.navigation {
	@extend .grid-25;
	@extend .tablet-grid-30;
	@extend .mobile-grid-70;
	@extend .smooth;
	background: #fff;
	border-right: 5px solid $grey-borders;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	max-width: 100%;
	position: fixed;
	top: 0;
	transform: translate(-130%, 0);
	z-index: 5;
	ul {
		margin-top: 150px;
		li {
			a {
				border-left: 5px solid #fff;
				color: #000;
				display: block;
				padding: 10px 10px 10px 30px;
				&.active {
					border-left: 5px solid $orange;
				}
			}
		}
	}
}
.headline-space {
	@extend .grid-40;
	@extend .tablet-grid-30;
	@extend .mobile-grid-60;
}
.filter-by {
	@extend .grid-30;
	@extend .tablet-grid-30;
	@extend .mobile-grid-100;
	padding-top: 5px;
}
.additional-actions {
	@extend .grid-30;
	@extend .tablet-grid-40;
	@extend .mobile-grid-100;
	float: right;
}
.app-space {
	@extend .grid-100;
	@extend .tablet-grid-100;
	@extend .mobile-grid-100;
	@extend .smooth;
	float: right;
	@media (max-width: 767px) {
		padding-top: 200px;
	}
	.content {
		background: #fff;
		&.index {
			background: none;
		}
	}
	.movie-imagery {
		@extend .grid-30;
		@extend .push-10;
		@extend .tablet-grid-40;
		@extend .mobile-grid-100;
		padding-top: 20px;
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		p {
			text-align: center;
		}
	}
	.movie-details {
		@extend .grid-40;
		@extend .push-10;
		@extend .tablet-grid-60;
		@extend .mobile-grid-100;
	}
}
.sign-up-space {
	background: #000 url(../_imgs/sign-in-up.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	.content {
		@extend .grid-25;
		@extend .push-5;
		@extend .tablet-grid-30;
		@extend .tablet-push-5;
		@extend .mobile-grid-100;
		.branding {
			.logo {
				background-image: url('../_imgs/movie-bohx-logo-white.svg');
				margin-left: 20px;
			}
		}
		.auth-form {
			@media (max-width: 767px) {
				background: rgb(0,0,0);
				background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.0) 100%);
				bottom: 0;
				box-sizing: border-box;
				height: 100%;
				left: 0;
				padding-top: 30vh;
				position: fixed;
				width: 100%;
			}
			.errors {
				list-style: disc;
			}
			.tabs {
				li {
					a {
						color: #fff;
						&.active {
							border-bottom-color: #fff;
						}
					}
				}
			}
		}
	}
}
.navigation-open {
	.navigation {
		transform: translate(0, 0);
	}
	.app-space {
		@extend .grid-75;
		@extend .tablet-grid-70;
		float: right;
	}
}