h1,
h2,
h3,
h4, 
h5,
h6,
ol,
ul,
p {
	margin: 20px;	
	a {
		color: $orange;
		font-weight: bold;
		text-decoration: none;
	}
}

h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}

p {
	label {
		display: inline-block;
		font-weight: bold;
		margin-right: 10px;
		& + input[type="email"],
		& + input[type="password"],
		& + input[type="text"] {
			display: block;
			margin-top: 5px;
			width: calc(100% - 15px);
		}
	}
	input[type="email"],
	input[type="password"],
	input[type="text"],
	input[type="search"] {
		padding: 5px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

select {
	@media (max-width: 767px) {
		border: none;
		border-bottom: 1px solid #000;
		border-radius: 0;
	}
}

a,
input[type="submit"] {
	&.button {
		-webkit-appearance: none;
		background: $orange;
		border: none;
		border-radius: 2px;
		color: #fff;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		padding: 10px 20px;
		text-align: center;
		text-transform: uppercase;
		&.mute {
			background: $grey-mid;
		}
		&.danger {
			background: $red;
		}
		&.full {
			width: calc(100% - 40px);
		}
	}
}
a.button {
	padding-bottom:  8px;
}