.align {
	&-center {
		text-align: center;
	}
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
	&-mobile {
		&-center {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
		&-left {
			@media (max-width: 767px) {
				text-align: left;
			}
		}
		&-right {
			@media (max-width: 767px) {
				text-align: right;
			}
		}
	}
}

.box-button {
	@extend .grid-30;
	@extend .push-20;
	@extend .tablet-grid-40;
	@extend .tablet-push-10;
	@extend .mobile-grid-100;
	margin: 20px 0;
	a {
		background: #000 no-repeat center;
		background-size: cover;
		border-top: 5px solid $orange;
		display: block;
		padding: 48vh 0 40px;
		text-align: center;
		width: 100%;
		@media (max-width: 767px) {
			padding-top: 18vh;
		}
		strong {
			@extend a.button;
		}
	}
	&.box-button-movies {
		a {
			background-image: url(../_imgs/indy-movies.jpg);
		}
	}
	&.box-button-search {
		a {
			background-image: url(../_imgs/indy-search.jpg);
		}
	}
}

.clear {
	clear: both;
}

.cover {
	background-color: rgba(0,0,0,0.9);
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
	.modal {
		@extend .grid-40;
		@extend .push-30;
		@extend .tablet-grid-70;
		@extend .tablet-push-15;
		@extend .mobile-grid-100;
		background: #fff;
		padding-bottom: 40px;
		padding-top: 40px;
		text-align: center;
		top: 10vh;
	}
	&.active {
		display: block;
	}
}

.faux-table {
	padding: 20px;
	.header,
	.row {
		border-bottom: 1px solid $grey-light-mid;
		display: block;
		@media (max-width: 767px) {
			padding-bottom: 10px;
			padding-top: 10px;
		}
		.column {
			@extend .grid-15;
			@extend .tablet-grid-15;
			@extend .mobile-grid-25;
			box-sizing: border-box;
			display: inline-block;
			padding: 15px 10px 10px;
			vertical-align: middle;
			@media (max-width: 767px) {
				padding-bottom: 5px;
				padding-top: 5px;
			}
			&.nudged {
				@extend .grid-20;
				@extend .tablet-grid-20;
				@extend .mobile-grid-35;
			}
			&.primary {
				@extend .grid-40;
				@extend .tablet-grid-40;
				@extend .mobile-grid-100;
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
			&.slim {
				@extend .grid-10;
				@extend .tablet-grid-10;
				@extend .mobile-grid-15;
			}
			&.mobile-full {
				@extend .mobile-grid-100;
			}
			&.mobile-half {
				@extend .mobile-grid-50;
			}
		}
	}
	.header {
		background: $grey-light-mid;
		color: #000;
		font-weight: bold;
		@media (max-width: 767px) {
			display: none;
		}
	}
	.row {
		.column {
			small {
				display: none;
				@media (max-width: 767px) {
					display: block;
				}
			}
			a {
				color: $orange;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

.margin {
	&-top {
		&-double {
			margin-top: 30px;
		}
	}
}

.mobile-focal-action {
	@media (max-width: 767px) {
		left: 0;
		bottom: 0;
		position: fixed;
		width: 100%;
		z-index: 12;
	}
}

.no-data {
	padding: 20px;
	text-align: center;
}

.rating {
	margin: 0;
	i {
		display: inline-block;
		padding-top: 5px;
	}
}

.search-box {
	@extend .grid-30;
	@extend .tablet-grid-40;
	@extend .mobile-grid-100;
	input[type="search"] {
		@extend .smooth.fast;
		background: transparent url(../_imgs/icon-search.svg) no-repeat left center;
		background-size: 13px 24px;
		border-bottom: 1px solid #000;
		border-left: none;
		border-right: none;
		border-top: none;
		padding: 2px 5px;
		text-indent: 15px;
		width: 100%;
		&:focus{
			border-bottom: 1px solid $orange;
		    outline: none;
		}
	}
}

.search-results {
	li {
		@extend .grid-20;
		@extend .tablet-grid-20;
		@extend .mobile-grid-50;
		margin-bottom: 20px;
		margin-top: 20px;
		a {
			display: block;
			img {
				max-width: 100%;
			}
			.search-image {
				background: none;
				display: inline-block;
				img {

				}
			}
			strong {
				color: #000;
				display: inline-block;
				margin-top: 10px;
			}
			&.mine {
				.search-image {
					background: url(../_imgs/in-collection.svg) no-repeat center;
					background-size: cover;
					img {
						opacity: 0.3;
					}
				}
				.in-collection {
					//display: block;
				}
			}
		}
		&:nth-child(2n+1) {
			@media (max-width: 767px) {
				clear: both;
			}
		}
		&:nth-child(5n+1) {
			clear: both;
			@media (max-width: 767px) {
				clear: none;
			}
		}
	}
}

.smooth {
  transition: all $slow ease;
  &.fast {
    transition: all $faster ease;
  }
  &.reallySlow {
  	transition: all $reallySlow ease;
  }
  &-color {
    transition: background-color $slow ease,
      color $slow ease;
  }
}

.subtle {
	opacity: 0.5;
}

.tabs {
	li {
		display: inline-block;
		margin-right: 20px;
		text-transform: uppercase;
		a {
			border-bottom: 1px solid transparent;
			display: inline-block;
		}
	}
}