/* Colors */
$blue: #58A5FF;
$grey-light: #F6F7F9;
$grey-light-mid: #EAEDF0;
$grey-mid: #C9CCCF;
$grey-borders: #D8DCDF;
$orange: #FF9B16;
$red: #FF1616;

/* Speeds */
$faster: 0.25s;
$normal: 0.3s;
$slow: $faster * 2;
$reallySlow: 2s;