a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

/* Colors */
/* Speeds */
/* ================================================================== */
/* This file has a mobile-to-tablet, and tablet-to-desktop breakpoint */
/* ================================================================== */
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before, .wrapper:before, .grid-5:before, .mobile-grid-5:before, .tablet-grid-5:before, .grid-10:before, .faux-table .header .column.slim:before,
.faux-table .row .column.slim:before, .mobile-grid-10:before, .tablet-grid-10:before, .faux-table .header .column.slim:before,
.faux-table .row .column.slim:before, .grid-15:before, .faux-table .header .column:before,
.faux-table .row .column:before, .mobile-grid-15:before, .faux-table .header .column.slim:before,
.faux-table .row .column.slim:before, .tablet-grid-15:before, .faux-table .header .column:before,
.faux-table .row .column:before, .grid-20:before, .faux-table .header .column.nudged:before,
.faux-table .row .column.nudged:before, .search-results li:before, .mobile-grid-20:before, .tablet-grid-20:before, .faux-table .header .column.nudged:before,
.faux-table .row .column.nudged:before, .search-results li:before, .grid-25:before, .navigation:before, .sign-up-space .content:before, .mobile-grid-25:before, .faux-table .header .column:before,
.faux-table .row .column:before, .tablet-grid-25:before, .grid-30:before, .box-button:before, .search-box:before, .filter-by:before, .additional-actions:before, .app-space .movie-imagery:before, .mobile-grid-30:before, .tablet-grid-30:before, .navigation:before, .headline-space:before, .filter-by:before, .sign-up-space .content:before, .grid-35:before, .mobile-grid-35:before, .faux-table .header .column.nudged:before,
.faux-table .row .column.nudged:before, .tablet-grid-35:before, .grid-40:before, .cover .modal:before, .faux-table .header .column.primary:before,
.faux-table .row .column.primary:before, .headline-space:before, .app-space .movie-details:before, .mobile-grid-40:before, .tablet-grid-40:before, .box-button:before, .faux-table .header .column.primary:before,
.faux-table .row .column.primary:before, .search-box:before, .additional-actions:before, .app-space .movie-imagery:before, .grid-45:before, .mobile-grid-45:before, .tablet-grid-45:before, .grid-50:before, .mobile-grid-50:before, .faux-table .header .column.mobile-half:before,
.faux-table .row .column.mobile-half:before, .search-results li:before, .tablet-grid-50:before, .grid-55:before, .mobile-grid-55:before, .tablet-grid-55:before, .grid-60:before, header .branding:before, .mobile-grid-60:before, .headline-space:before, .tablet-grid-60:before, header .branding:before, .app-space .movie-details:before, .grid-65:before, .mobile-grid-65:before, .tablet-grid-65:before, .grid-70:before, .mobile-grid-70:before, .navigation:before, .tablet-grid-70:before, .cover .modal:before, .navigation-open .app-space:before, .grid-75:before, .navigation-open .app-space:before, .mobile-grid-75:before, .tablet-grid-75:before, .grid-80:before, .mobile-grid-80:before, .tablet-grid-80:before, .grid-85:before, .mobile-grid-85:before, .tablet-grid-85:before, .grid-90:before, .mobile-grid-90:before, .tablet-grid-90:before, .grid-95:before, .mobile-grid-95:before, .tablet-grid-95:before, .grid-100:before, .app-space:before, .mobile-grid-100:before, .box-button:before, .cover .modal:before, .faux-table .header .column.primary:before,
.faux-table .row .column.primary:before, .faux-table .header .column.mobile-full:before,
.faux-table .row .column.mobile-full:before, .search-box:before, header .branding:before, .filter-by:before, .additional-actions:before, .app-space:before, .app-space .movie-imagery:before, .app-space .movie-details:before, .sign-up-space .content:before, .tablet-grid-100:before, .app-space:before, .grid-33:before, .mobile-grid-33:before, .tablet-grid-33:before, .grid-66:before, .mobile-grid-66:before, .tablet-grid-66:before, .clearfix:before,
.grid-container:after,
.wrapper:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.faux-table .header .column.slim:after,
.faux-table .row .column.slim:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.faux-table .header .column.slim:after,
.faux-table .row .column.slim:after,
.grid-15:after,
.faux-table .header .column:after,
.faux-table .row .column:after,
.mobile-grid-15:after,
.faux-table .header .column.slim:after,
.faux-table .row .column.slim:after,
.tablet-grid-15:after,
.faux-table .header .column:after,
.faux-table .row .column:after,
.grid-20:after,
.faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after,
.search-results li:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after,
.search-results li:after,
.grid-25:after,
.navigation:after,
.sign-up-space .content:after,
.mobile-grid-25:after,
.faux-table .header .column:after,
.faux-table .row .column:after,
.tablet-grid-25:after,
.grid-30:after,
.box-button:after,
.search-box:after,
.filter-by:after,
.additional-actions:after,
.app-space .movie-imagery:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.navigation:after,
.headline-space:after,
.filter-by:after,
.sign-up-space .content:after,
.grid-35:after,
.mobile-grid-35:after,
.faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after,
.tablet-grid-35:after,
.grid-40:after,
.cover .modal:after,
.faux-table .header .column.primary:after,
.faux-table .row .column.primary:after,
.headline-space:after,
.app-space .movie-details:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.box-button:after,
.faux-table .header .column.primary:after,
.faux-table .row .column.primary:after,
.search-box:after,
.additional-actions:after,
.app-space .movie-imagery:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.faux-table .header .column.mobile-half:after,
.faux-table .row .column.mobile-half:after,
.search-results li:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
header .branding:after,
.mobile-grid-60:after,
.headline-space:after,
.tablet-grid-60:after,
header .branding:after,
.app-space .movie-details:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.navigation:after,
.tablet-grid-70:after,
.cover .modal:after,
.navigation-open .app-space:after,
.grid-75:after,
.navigation-open .app-space:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.app-space:after,
.mobile-grid-100:after,
.box-button:after,
.cover .modal:after,
.faux-table .header .column.primary:after,
.faux-table .row .column.primary:after,
.faux-table .header .column.mobile-full:after,
.faux-table .row .column.mobile-full:after,
.search-box:after,
header .branding:after,
.filter-by:after,
.additional-actions:after,
.app-space:after,
.app-space .movie-imagery:after,
.app-space .movie-details:after,
.sign-up-space .content:after,
.tablet-grid-100:after,
.app-space:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after, .wrapper:after, .grid-5:after, .mobile-grid-5:after, .tablet-grid-5:after, .grid-10:after, .faux-table .header .column.slim:after,
.faux-table .row .column.slim:after, .mobile-grid-10:after, .tablet-grid-10:after, .faux-table .header .column.slim:after,
.faux-table .row .column.slim:after, .grid-15:after, .faux-table .header .column:after,
.faux-table .row .column:after, .mobile-grid-15:after, .faux-table .header .column.slim:after,
.faux-table .row .column.slim:after, .tablet-grid-15:after, .faux-table .header .column:after,
.faux-table .row .column:after, .grid-20:after, .faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after, .search-results li:after, .mobile-grid-20:after, .tablet-grid-20:after, .faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after, .search-results li:after, .grid-25:after, .navigation:after, .sign-up-space .content:after, .mobile-grid-25:after, .faux-table .header .column:after,
.faux-table .row .column:after, .tablet-grid-25:after, .grid-30:after, .box-button:after, .search-box:after, .filter-by:after, .additional-actions:after, .app-space .movie-imagery:after, .mobile-grid-30:after, .tablet-grid-30:after, .navigation:after, .headline-space:after, .filter-by:after, .sign-up-space .content:after, .grid-35:after, .mobile-grid-35:after, .faux-table .header .column.nudged:after,
.faux-table .row .column.nudged:after, .tablet-grid-35:after, .grid-40:after, .cover .modal:after, .faux-table .header .column.primary:after,
.faux-table .row .column.primary:after, .headline-space:after, .app-space .movie-details:after, .mobile-grid-40:after, .tablet-grid-40:after, .box-button:after, .faux-table .header .column.primary:after,
.faux-table .row .column.primary:after, .search-box:after, .additional-actions:after, .app-space .movie-imagery:after, .grid-45:after, .mobile-grid-45:after, .tablet-grid-45:after, .grid-50:after, .mobile-grid-50:after, .faux-table .header .column.mobile-half:after,
.faux-table .row .column.mobile-half:after, .search-results li:after, .tablet-grid-50:after, .grid-55:after, .mobile-grid-55:after, .tablet-grid-55:after, .grid-60:after, header .branding:after, .mobile-grid-60:after, .headline-space:after, .tablet-grid-60:after, header .branding:after, .app-space .movie-details:after, .grid-65:after, .mobile-grid-65:after, .tablet-grid-65:after, .grid-70:after, .mobile-grid-70:after, .navigation:after, .tablet-grid-70:after, .cover .modal:after, .navigation-open .app-space:after, .grid-75:after, .navigation-open .app-space:after, .mobile-grid-75:after, .tablet-grid-75:after, .grid-80:after, .mobile-grid-80:after, .tablet-grid-80:after, .grid-85:after, .mobile-grid-85:after, .tablet-grid-85:after, .grid-90:after, .mobile-grid-90:after, .tablet-grid-90:after, .grid-95:after, .mobile-grid-95:after, .tablet-grid-95:after, .grid-100:after, .app-space:after, .mobile-grid-100:after, .box-button:after, .cover .modal:after, .faux-table .header .column.primary:after,
.faux-table .row .column.primary:after, .faux-table .header .column.mobile-full:after,
.faux-table .row .column.mobile-full:after, .search-box:after, header .branding:after, .filter-by:after, .additional-actions:after, .app-space:after, .app-space .movie-imagery:after, .app-space .movie-details:after, .sign-up-space .content:after, .tablet-grid-100:after, .app-space:after, .grid-33:after, .mobile-grid-33:after, .tablet-grid-33:after, .grid-66:after, .mobile-grid-66:after, .tablet-grid-66:after, .clearfix:after {
  clear: both; }

.grid-container, .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px; }

.grid-5, .mobile-grid-5, .tablet-grid-5, .grid-10, .faux-table .header .column.slim,
.faux-table .row .column.slim, .mobile-grid-10, .tablet-grid-10, .faux-table .header .column.slim,
.faux-table .row .column.slim, .grid-15, .faux-table .header .column,
.faux-table .row .column, .mobile-grid-15, .faux-table .header .column.slim,
.faux-table .row .column.slim, .tablet-grid-15, .faux-table .header .column,
.faux-table .row .column, .grid-20, .faux-table .header .column.nudged,
.faux-table .row .column.nudged, .search-results li, .mobile-grid-20, .tablet-grid-20, .faux-table .header .column.nudged,
.faux-table .row .column.nudged, .search-results li, .grid-25, .navigation, .sign-up-space .content, .mobile-grid-25, .faux-table .header .column,
.faux-table .row .column, .tablet-grid-25, .grid-30, .box-button, .search-box, .filter-by, .additional-actions, .app-space .movie-imagery, .mobile-grid-30, .tablet-grid-30, .navigation, .headline-space, .filter-by, .sign-up-space .content, .grid-35, .mobile-grid-35, .faux-table .header .column.nudged,
.faux-table .row .column.nudged, .tablet-grid-35, .grid-40, .cover .modal, .faux-table .header .column.primary,
.faux-table .row .column.primary, .headline-space, .app-space .movie-details, .mobile-grid-40, .tablet-grid-40, .box-button, .faux-table .header .column.primary,
.faux-table .row .column.primary, .search-box, .additional-actions, .app-space .movie-imagery, .grid-45, .mobile-grid-45, .tablet-grid-45, .grid-50, .mobile-grid-50, .faux-table .header .column.mobile-half,
.faux-table .row .column.mobile-half, .search-results li, .tablet-grid-50, .grid-55, .mobile-grid-55, .tablet-grid-55, .grid-60, header .branding, .mobile-grid-60, .headline-space, .tablet-grid-60, header .branding, .app-space .movie-details, .grid-65, .mobile-grid-65, .tablet-grid-65, .grid-70, .mobile-grid-70, .navigation, .tablet-grid-70, .cover .modal, .navigation-open .app-space, .grid-75, .navigation-open .app-space, .mobile-grid-75, .tablet-grid-75, .grid-80, .mobile-grid-80, .tablet-grid-80, .grid-85, .mobile-grid-85, .tablet-grid-85, .grid-90, .mobile-grid-90, .tablet-grid-90, .grid-95, .mobile-grid-95, .tablet-grid-95, .grid-100, .app-space, .mobile-grid-100, .box-button, .cover .modal, .faux-table .header .column.primary,
.faux-table .row .column.primary, .faux-table .header .column.mobile-full,
.faux-table .row .column.mobile-full, .search-box, header .branding, .filter-by, .additional-actions, .app-space, .app-space .movie-imagery, .app-space .movie-details, .sign-up-space .content, .tablet-grid-100, .app-space, .grid-33, .mobile-grid-33, .tablet-grid-33, .grid-66, .mobile-grid-66, .tablet-grid-66 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 767px) {
  .mobile-push-5, .mobile-pull-5, .mobile-push-10, .mobile-pull-10, .mobile-push-15, .mobile-pull-15, .mobile-push-20, .mobile-pull-20, .mobile-push-25, .mobile-pull-25, .mobile-push-30, .mobile-pull-30, .mobile-push-35, .mobile-pull-35, .mobile-push-40, .mobile-pull-40, .mobile-push-45, .mobile-pull-45, .mobile-push-50, .mobile-pull-50, .mobile-push-55, .mobile-pull-55, .mobile-push-60, .mobile-pull-60, .mobile-push-65, .mobile-pull-65, .mobile-push-70, .mobile-pull-70, .mobile-push-75, .mobile-pull-75, .mobile-push-80, .mobile-pull-80, .mobile-push-85, .mobile-pull-85, .mobile-push-90, .mobile-pull-90, .mobile-push-95, .mobile-pull-95, .mobile-push-33, .mobile-pull-33, .mobile-push-66, .mobile-pull-66 {
    position: relative; }

  .hide-on-mobile {
    display: none !important; }

  .mobile-grid-5 {
    float: left;
    width: 5%; }

  .mobile-prefix-5 {
    margin-left: 5%; }

  .mobile-suffix-5 {
    margin-right: 5%; }

  .mobile-push-5 {
    left: 5%; }

  .mobile-pull-5 {
    left: -5%; }

  .mobile-grid-10 {
    float: left;
    width: 10%; }

  .mobile-prefix-10 {
    margin-left: 10%; }

  .mobile-suffix-10 {
    margin-right: 10%; }

  .mobile-push-10 {
    left: 10%; }

  .mobile-pull-10 {
    left: -10%; }

  .mobile-grid-15, .faux-table .header .column.slim,
  .faux-table .row .column.slim {
    float: left;
    width: 15%; }

  .mobile-prefix-15 {
    margin-left: 15%; }

  .mobile-suffix-15 {
    margin-right: 15%; }

  .mobile-push-15 {
    left: 15%; }

  .mobile-pull-15 {
    left: -15%; }

  .mobile-grid-20 {
    float: left;
    width: 20%; }

  .mobile-prefix-20 {
    margin-left: 20%; }

  .mobile-suffix-20 {
    margin-right: 20%; }

  .mobile-push-20 {
    left: 20%; }

  .mobile-pull-20 {
    left: -20%; }

  .mobile-grid-25, .faux-table .header .column,
  .faux-table .row .column {
    float: left;
    width: 25%; }

  .mobile-prefix-25 {
    margin-left: 25%; }

  .mobile-suffix-25 {
    margin-right: 25%; }

  .mobile-push-25 {
    left: 25%; }

  .mobile-pull-25 {
    left: -25%; }

  .mobile-grid-30 {
    float: left;
    width: 30%; }

  .mobile-prefix-30 {
    margin-left: 30%; }

  .mobile-suffix-30 {
    margin-right: 30%; }

  .mobile-push-30 {
    left: 30%; }

  .mobile-pull-30 {
    left: -30%; }

  .mobile-grid-35, .faux-table .header .column.nudged,
  .faux-table .row .column.nudged {
    float: left;
    width: 35%; }

  .mobile-prefix-35 {
    margin-left: 35%; }

  .mobile-suffix-35 {
    margin-right: 35%; }

  .mobile-push-35 {
    left: 35%; }

  .mobile-pull-35 {
    left: -35%; }

  .mobile-grid-40 {
    float: left;
    width: 40%; }

  .mobile-prefix-40 {
    margin-left: 40%; }

  .mobile-suffix-40 {
    margin-right: 40%; }

  .mobile-push-40 {
    left: 40%; }

  .mobile-pull-40 {
    left: -40%; }

  .mobile-grid-45 {
    float: left;
    width: 45%; }

  .mobile-prefix-45 {
    margin-left: 45%; }

  .mobile-suffix-45 {
    margin-right: 45%; }

  .mobile-push-45 {
    left: 45%; }

  .mobile-pull-45 {
    left: -45%; }

  .mobile-grid-50, .faux-table .header .column.mobile-half,
  .faux-table .row .column.mobile-half, .search-results li {
    float: left;
    width: 50%; }

  .mobile-prefix-50 {
    margin-left: 50%; }

  .mobile-suffix-50 {
    margin-right: 50%; }

  .mobile-push-50 {
    left: 50%; }

  .mobile-pull-50 {
    left: -50%; }

  .mobile-grid-55 {
    float: left;
    width: 55%; }

  .mobile-prefix-55 {
    margin-left: 55%; }

  .mobile-suffix-55 {
    margin-right: 55%; }

  .mobile-push-55 {
    left: 55%; }

  .mobile-pull-55 {
    left: -55%; }

  .mobile-grid-60, .headline-space {
    float: left;
    width: 60%; }

  .mobile-prefix-60 {
    margin-left: 60%; }

  .mobile-suffix-60 {
    margin-right: 60%; }

  .mobile-push-60 {
    left: 60%; }

  .mobile-pull-60 {
    left: -60%; }

  .mobile-grid-65 {
    float: left;
    width: 65%; }

  .mobile-prefix-65 {
    margin-left: 65%; }

  .mobile-suffix-65 {
    margin-right: 65%; }

  .mobile-push-65 {
    left: 65%; }

  .mobile-pull-65 {
    left: -65%; }

  .mobile-grid-70, .navigation {
    float: left;
    width: 70%; }

  .mobile-prefix-70 {
    margin-left: 70%; }

  .mobile-suffix-70 {
    margin-right: 70%; }

  .mobile-push-70 {
    left: 70%; }

  .mobile-pull-70 {
    left: -70%; }

  .mobile-grid-75 {
    float: left;
    width: 75%; }

  .mobile-prefix-75 {
    margin-left: 75%; }

  .mobile-suffix-75 {
    margin-right: 75%; }

  .mobile-push-75 {
    left: 75%; }

  .mobile-pull-75 {
    left: -75%; }

  .mobile-grid-80 {
    float: left;
    width: 80%; }

  .mobile-prefix-80 {
    margin-left: 80%; }

  .mobile-suffix-80 {
    margin-right: 80%; }

  .mobile-push-80 {
    left: 80%; }

  .mobile-pull-80 {
    left: -80%; }

  .mobile-grid-85 {
    float: left;
    width: 85%; }

  .mobile-prefix-85 {
    margin-left: 85%; }

  .mobile-suffix-85 {
    margin-right: 85%; }

  .mobile-push-85 {
    left: 85%; }

  .mobile-pull-85 {
    left: -85%; }

  .mobile-grid-90 {
    float: left;
    width: 90%; }

  .mobile-prefix-90 {
    margin-left: 90%; }

  .mobile-suffix-90 {
    margin-right: 90%; }

  .mobile-push-90 {
    left: 90%; }

  .mobile-pull-90 {
    left: -90%; }

  .mobile-grid-95 {
    float: left;
    width: 95%; }

  .mobile-prefix-95 {
    margin-left: 95%; }

  .mobile-suffix-95 {
    margin-right: 95%; }

  .mobile-push-95 {
    left: 95%; }

  .mobile-pull-95 {
    left: -95%; }

  .mobile-grid-33 {
    float: left;
    width: 33.33333%; }

  .mobile-prefix-33 {
    margin-left: 33.33333%; }

  .mobile-suffix-33 {
    margin-right: 33.33333%; }

  .mobile-push-33 {
    left: 33.33333%; }

  .mobile-pull-33 {
    left: -33.33333%; }

  .mobile-grid-66 {
    float: left;
    width: 66.66667%; }

  .mobile-prefix-66 {
    margin-left: 66.66667%; }

  .mobile-suffix-66 {
    margin-right: 66.66667%; }

  .mobile-push-66 {
    left: 66.66667%; }

  .mobile-pull-66 {
    left: -66.66667%; }

  .mobile-grid-100, .box-button, .cover .modal, .faux-table .header .column.primary,
  .faux-table .row .column.primary, .faux-table .header .column.mobile-full,
  .faux-table .row .column.mobile-full, .search-box, header .branding, .filter-by, .additional-actions, .app-space, .app-space .movie-imagery, .app-space .movie-details, .sign-up-space .content {
    clear: both;
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-push-5, .sign-up-space .content, .tablet-pull-5, .tablet-push-10, .box-button, .tablet-pull-10, .tablet-push-15, .cover .modal, .tablet-pull-15, .tablet-push-20, header .branding, .tablet-pull-20, .tablet-push-25, .tablet-pull-25, .tablet-push-30, .tablet-pull-30, .tablet-push-35, .tablet-pull-35, .tablet-push-40, .tablet-pull-40, .tablet-push-45, .tablet-pull-45, .tablet-push-50, .tablet-pull-50, .tablet-push-55, .tablet-pull-55, .tablet-push-60, .tablet-pull-60, .tablet-push-65, .tablet-pull-65, .tablet-push-70, .tablet-pull-70, .tablet-push-75, .tablet-pull-75, .tablet-push-80, .tablet-pull-80, .tablet-push-85, .tablet-pull-85, .tablet-push-90, .tablet-pull-90, .tablet-push-95, .tablet-pull-95, .tablet-push-33, .tablet-pull-33, .tablet-push-66, .tablet-pull-66 {
    position: relative; }

  .hide-on-tablet {
    display: none !important; }

  .tablet-grid-5 {
    float: left;
    width: 5%; }

  .tablet-prefix-5 {
    margin-left: 5%; }

  .tablet-suffix-5 {
    margin-right: 5%; }

  .tablet-push-5, .sign-up-space .content {
    left: 5%; }

  .tablet-pull-5 {
    left: -5%; }

  .tablet-grid-10, .faux-table .header .column.slim,
  .faux-table .row .column.slim {
    float: left;
    width: 10%; }

  .tablet-prefix-10 {
    margin-left: 10%; }

  .tablet-suffix-10 {
    margin-right: 10%; }

  .tablet-push-10, .box-button {
    left: 10%; }

  .tablet-pull-10 {
    left: -10%; }

  .tablet-grid-15, .faux-table .header .column,
  .faux-table .row .column {
    float: left;
    width: 15%; }

  .tablet-prefix-15 {
    margin-left: 15%; }

  .tablet-suffix-15 {
    margin-right: 15%; }

  .tablet-push-15, .cover .modal {
    left: 15%; }

  .tablet-pull-15 {
    left: -15%; }

  .tablet-grid-20, .faux-table .header .column.nudged,
  .faux-table .row .column.nudged, .search-results li {
    float: left;
    width: 20%; }

  .tablet-prefix-20 {
    margin-left: 20%; }

  .tablet-suffix-20 {
    margin-right: 20%; }

  .tablet-push-20, header .branding {
    left: 20%; }

  .tablet-pull-20 {
    left: -20%; }

  .tablet-grid-25 {
    float: left;
    width: 25%; }

  .tablet-prefix-25 {
    margin-left: 25%; }

  .tablet-suffix-25 {
    margin-right: 25%; }

  .tablet-push-25 {
    left: 25%; }

  .tablet-pull-25 {
    left: -25%; }

  .tablet-grid-30, .navigation, .headline-space, .filter-by, .sign-up-space .content {
    float: left;
    width: 30%; }

  .tablet-prefix-30 {
    margin-left: 30%; }

  .tablet-suffix-30 {
    margin-right: 30%; }

  .tablet-push-30 {
    left: 30%; }

  .tablet-pull-30 {
    left: -30%; }

  .tablet-grid-35 {
    float: left;
    width: 35%; }

  .tablet-prefix-35 {
    margin-left: 35%; }

  .tablet-suffix-35 {
    margin-right: 35%; }

  .tablet-push-35 {
    left: 35%; }

  .tablet-pull-35 {
    left: -35%; }

  .tablet-grid-40, .box-button, .faux-table .header .column.primary,
  .faux-table .row .column.primary, .search-box, .additional-actions, .app-space .movie-imagery {
    float: left;
    width: 40%; }

  .tablet-prefix-40 {
    margin-left: 40%; }

  .tablet-suffix-40 {
    margin-right: 40%; }

  .tablet-push-40 {
    left: 40%; }

  .tablet-pull-40 {
    left: -40%; }

  .tablet-grid-45 {
    float: left;
    width: 45%; }

  .tablet-prefix-45 {
    margin-left: 45%; }

  .tablet-suffix-45 {
    margin-right: 45%; }

  .tablet-push-45 {
    left: 45%; }

  .tablet-pull-45 {
    left: -45%; }

  .tablet-grid-50 {
    float: left;
    width: 50%; }

  .tablet-prefix-50 {
    margin-left: 50%; }

  .tablet-suffix-50 {
    margin-right: 50%; }

  .tablet-push-50 {
    left: 50%; }

  .tablet-pull-50 {
    left: -50%; }

  .tablet-grid-55 {
    float: left;
    width: 55%; }

  .tablet-prefix-55 {
    margin-left: 55%; }

  .tablet-suffix-55 {
    margin-right: 55%; }

  .tablet-push-55 {
    left: 55%; }

  .tablet-pull-55 {
    left: -55%; }

  .tablet-grid-60, header .branding, .app-space .movie-details {
    float: left;
    width: 60%; }

  .tablet-prefix-60 {
    margin-left: 60%; }

  .tablet-suffix-60 {
    margin-right: 60%; }

  .tablet-push-60 {
    left: 60%; }

  .tablet-pull-60 {
    left: -60%; }

  .tablet-grid-65 {
    float: left;
    width: 65%; }

  .tablet-prefix-65 {
    margin-left: 65%; }

  .tablet-suffix-65 {
    margin-right: 65%; }

  .tablet-push-65 {
    left: 65%; }

  .tablet-pull-65 {
    left: -65%; }

  .tablet-grid-70, .cover .modal, .navigation-open .app-space {
    float: left;
    width: 70%; }

  .tablet-prefix-70 {
    margin-left: 70%; }

  .tablet-suffix-70 {
    margin-right: 70%; }

  .tablet-push-70 {
    left: 70%; }

  .tablet-pull-70 {
    left: -70%; }

  .tablet-grid-75 {
    float: left;
    width: 75%; }

  .tablet-prefix-75 {
    margin-left: 75%; }

  .tablet-suffix-75 {
    margin-right: 75%; }

  .tablet-push-75 {
    left: 75%; }

  .tablet-pull-75 {
    left: -75%; }

  .tablet-grid-80 {
    float: left;
    width: 80%; }

  .tablet-prefix-80 {
    margin-left: 80%; }

  .tablet-suffix-80 {
    margin-right: 80%; }

  .tablet-push-80 {
    left: 80%; }

  .tablet-pull-80 {
    left: -80%; }

  .tablet-grid-85 {
    float: left;
    width: 85%; }

  .tablet-prefix-85 {
    margin-left: 85%; }

  .tablet-suffix-85 {
    margin-right: 85%; }

  .tablet-push-85 {
    left: 85%; }

  .tablet-pull-85 {
    left: -85%; }

  .tablet-grid-90 {
    float: left;
    width: 90%; }

  .tablet-prefix-90 {
    margin-left: 90%; }

  .tablet-suffix-90 {
    margin-right: 90%; }

  .tablet-push-90 {
    left: 90%; }

  .tablet-pull-90 {
    left: -90%; }

  .tablet-grid-95 {
    float: left;
    width: 95%; }

  .tablet-prefix-95 {
    margin-left: 95%; }

  .tablet-suffix-95 {
    margin-right: 95%; }

  .tablet-push-95 {
    left: 95%; }

  .tablet-pull-95 {
    left: -95%; }

  .tablet-grid-33 {
    float: left;
    width: 33.33333%; }

  .tablet-prefix-33 {
    margin-left: 33.33333%; }

  .tablet-suffix-33 {
    margin-right: 33.33333%; }

  .tablet-push-33 {
    left: 33.33333%; }

  .tablet-pull-33 {
    left: -33.33333%; }

  .tablet-grid-66 {
    float: left;
    width: 66.66667%; }

  .tablet-prefix-66 {
    margin-left: 66.66667%; }

  .tablet-suffix-66 {
    margin-right: 66.66667%; }

  .tablet-push-66 {
    left: 66.66667%; }

  .tablet-pull-66 {
    left: -66.66667%; }

  .tablet-grid-100, .app-space {
    clear: both;
    width: 100%; } }
@media (min-width: 1025px) {
  .push-5, .sign-up-space .content, .pull-5, .push-10, .app-space .movie-imagery, .app-space .movie-details, .pull-10, .push-15, .pull-15, .push-20, .box-button, header .branding, .pull-20, .push-25, .pull-25, .push-30, .cover .modal, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 {
    position: relative; }

  .hide-on-desktop {
    display: none !important; }

  .grid-5 {
    float: left;
    width: 5%; }

  .prefix-5 {
    margin-left: 5%; }

  .suffix-5 {
    margin-right: 5%; }

  .push-5, .sign-up-space .content {
    left: 5%; }

  .pull-5 {
    left: -5%; }

  .grid-10, .faux-table .header .column.slim,
  .faux-table .row .column.slim {
    float: left;
    width: 10%; }

  .prefix-10 {
    margin-left: 10%; }

  .suffix-10 {
    margin-right: 10%; }

  .push-10, .app-space .movie-imagery, .app-space .movie-details {
    left: 10%; }

  .pull-10 {
    left: -10%; }

  .grid-15, .faux-table .header .column,
  .faux-table .row .column {
    float: left;
    width: 15%; }

  .prefix-15 {
    margin-left: 15%; }

  .suffix-15 {
    margin-right: 15%; }

  .push-15 {
    left: 15%; }

  .pull-15 {
    left: -15%; }

  .grid-20, .faux-table .header .column.nudged,
  .faux-table .row .column.nudged, .search-results li {
    float: left;
    width: 20%; }

  .prefix-20 {
    margin-left: 20%; }

  .suffix-20 {
    margin-right: 20%; }

  .push-20, .box-button, header .branding {
    left: 20%; }

  .pull-20 {
    left: -20%; }

  .grid-25, .navigation, .sign-up-space .content {
    float: left;
    width: 25%; }

  .prefix-25 {
    margin-left: 25%; }

  .suffix-25 {
    margin-right: 25%; }

  .push-25 {
    left: 25%; }

  .pull-25 {
    left: -25%; }

  .grid-30, .box-button, .search-box, .filter-by, .additional-actions, .app-space .movie-imagery {
    float: left;
    width: 30%; }

  .prefix-30 {
    margin-left: 30%; }

  .suffix-30 {
    margin-right: 30%; }

  .push-30, .cover .modal {
    left: 30%; }

  .pull-30 {
    left: -30%; }

  .grid-35 {
    float: left;
    width: 35%; }

  .prefix-35 {
    margin-left: 35%; }

  .suffix-35 {
    margin-right: 35%; }

  .push-35 {
    left: 35%; }

  .pull-35 {
    left: -35%; }

  .grid-40, .cover .modal, .faux-table .header .column.primary,
  .faux-table .row .column.primary, .headline-space, .app-space .movie-details {
    float: left;
    width: 40%; }

  .prefix-40 {
    margin-left: 40%; }

  .suffix-40 {
    margin-right: 40%; }

  .push-40 {
    left: 40%; }

  .pull-40 {
    left: -40%; }

  .grid-45 {
    float: left;
    width: 45%; }

  .prefix-45 {
    margin-left: 45%; }

  .suffix-45 {
    margin-right: 45%; }

  .push-45 {
    left: 45%; }

  .pull-45 {
    left: -45%; }

  .grid-50 {
    float: left;
    width: 50%; }

  .prefix-50 {
    margin-left: 50%; }

  .suffix-50 {
    margin-right: 50%; }

  .push-50 {
    left: 50%; }

  .pull-50 {
    left: -50%; }

  .grid-55 {
    float: left;
    width: 55%; }

  .prefix-55 {
    margin-left: 55%; }

  .suffix-55 {
    margin-right: 55%; }

  .push-55 {
    left: 55%; }

  .pull-55 {
    left: -55%; }

  .grid-60, header .branding {
    float: left;
    width: 60%; }

  .prefix-60 {
    margin-left: 60%; }

  .suffix-60 {
    margin-right: 60%; }

  .push-60 {
    left: 60%; }

  .pull-60 {
    left: -60%; }

  .grid-65 {
    float: left;
    width: 65%; }

  .prefix-65 {
    margin-left: 65%; }

  .suffix-65 {
    margin-right: 65%; }

  .push-65 {
    left: 65%; }

  .pull-65 {
    left: -65%; }

  .grid-70 {
    float: left;
    width: 70%; }

  .prefix-70 {
    margin-left: 70%; }

  .suffix-70 {
    margin-right: 70%; }

  .push-70 {
    left: 70%; }

  .pull-70 {
    left: -70%; }

  .grid-75, .navigation-open .app-space {
    float: left;
    width: 75%; }

  .prefix-75 {
    margin-left: 75%; }

  .suffix-75 {
    margin-right: 75%; }

  .push-75 {
    left: 75%; }

  .pull-75 {
    left: -75%; }

  .grid-80 {
    float: left;
    width: 80%; }

  .prefix-80 {
    margin-left: 80%; }

  .suffix-80 {
    margin-right: 80%; }

  .push-80 {
    left: 80%; }

  .pull-80 {
    left: -80%; }

  .grid-85 {
    float: left;
    width: 85%; }

  .prefix-85 {
    margin-left: 85%; }

  .suffix-85 {
    margin-right: 85%; }

  .push-85 {
    left: 85%; }

  .pull-85 {
    left: -85%; }

  .grid-90 {
    float: left;
    width: 90%; }

  .prefix-90 {
    margin-left: 90%; }

  .suffix-90 {
    margin-right: 90%; }

  .push-90 {
    left: 90%; }

  .pull-90 {
    left: -90%; }

  .grid-95 {
    float: left;
    width: 95%; }

  .prefix-95 {
    margin-left: 95%; }

  .suffix-95 {
    margin-right: 95%; }

  .push-95 {
    left: 95%; }

  .pull-95 {
    left: -95%; }

  .grid-33 {
    float: left;
    width: 33.33333%; }

  .prefix-33 {
    margin-left: 33.33333%; }

  .suffix-33 {
    margin-right: 33.33333%; }

  .push-33 {
    left: 33.33333%; }

  .pull-33 {
    left: -33.33333%; }

  .grid-66 {
    float: left;
    width: 66.66667%; }

  .prefix-66 {
    margin-left: 66.66667%; }

  .suffix-66 {
    margin-right: 66.66667%; }

  .push-66 {
    left: 66.66667%; }

  .pull-66 {
    left: -66.66667%; }

  .grid-100, .app-space {
    clear: both;
    width: 100%; } }
.align-center {
  text-align: center; }
.align-left {
  text-align: left; }
.align-right {
  text-align: right; }
@media (max-width: 767px) {
  .align-mobile-center {
    text-align: center; } }
@media (max-width: 767px) {
  .align-mobile-left {
    text-align: left; } }
@media (max-width: 767px) {
  .align-mobile-right {
    text-align: right; } }

.box-button {
  margin: 20px 0; }
  .box-button a {
    background: #000 no-repeat center;
    background-size: cover;
    border-top: 5px solid #FF9B16;
    display: block;
    padding: 48vh 0 40px;
    text-align: center;
    width: 100%; }
    @media (max-width: 767px) {
      .box-button a {
        padding-top: 18vh; } }
  .box-button.box-button-movies a {
    background-image: url(../_imgs/indy-movies.jpg); }
  .box-button.box-button-search a {
    background-image: url(../_imgs/indy-search.jpg); }

.clear {
  clear: both; }

.cover {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  .cover .modal {
    background: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    top: 10vh; }
  .cover.active {
    display: block; }

.faux-table {
  padding: 20px; }
  .faux-table .header,
  .faux-table .row {
    border-bottom: 1px solid #EAEDF0;
    display: block; }
    @media (max-width: 767px) {
      .faux-table .header,
      .faux-table .row {
        padding-bottom: 10px;
        padding-top: 10px; } }
    .faux-table .header .column,
    .faux-table .row .column {
      box-sizing: border-box;
      display: inline-block;
      padding: 15px 10px 10px;
      vertical-align: middle; }
      @media (max-width: 767px) {
        .faux-table .header .column,
        .faux-table .row .column {
          padding-bottom: 5px;
          padding-top: 5px; } }
      @media (max-width: 767px) {
        .faux-table .header .column.primary,
        .faux-table .row .column.primary {
          font-size: 20px; } }
  .faux-table .header {
    background: #EAEDF0;
    color: #000;
    font-weight: bold; }
    @media (max-width: 767px) {
      .faux-table .header {
        display: none; } }
  .faux-table .row .column small {
    display: none; }
    @media (max-width: 767px) {
      .faux-table .row .column small {
        display: block; } }
  .faux-table .row .column a {
    color: #FF9B16;
    font-weight: bold;
    text-decoration: none; }

.margin-top-double {
  margin-top: 30px; }

@media (max-width: 767px) {
  .mobile-focal-action {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 12; } }

.no-data {
  padding: 20px;
  text-align: center; }

.rating {
  margin: 0; }
  .rating i {
    display: inline-block;
    padding-top: 5px; }

.search-box input[type="search"] {
  background: transparent url(../_imgs/icon-search.svg) no-repeat left center;
  background-size: 13px 24px;
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 2px 5px;
  text-indent: 15px;
  width: 100%; }
  .search-box input[type="search"]:focus {
    border-bottom: 1px solid #FF9B16;
    outline: none; }

.search-results li {
  margin-bottom: 20px;
  margin-top: 20px; }
  .search-results li a {
    display: block; }
    .search-results li a img {
      max-width: 100%; }
    .search-results li a .search-image {
      background: none;
      display: inline-block; }
    .search-results li a strong {
      color: #000;
      display: inline-block;
      margin-top: 10px; }
    .search-results li a.mine .search-image {
      background: url(../_imgs/in-collection.svg) no-repeat center;
      background-size: cover; }
      .search-results li a.mine .search-image img {
        opacity: 0.3; }
  @media (max-width: 767px) {
    .search-results li:nth-child(2n+1) {
      clear: both; } }
  .search-results li:nth-child(5n+1) {
    clear: both; }
    @media (max-width: 767px) {
      .search-results li:nth-child(5n+1) {
        clear: none; } }

.smooth, .navigation, .app-space {
  transition: all 0.5s ease; }
  .smooth.fast, .search-box input[type="search"], .fast.navigation, .fast.app-space {
    transition: all 0.25s ease; }
  .smooth.reallySlow, .reallySlow.navigation, .reallySlow.app-space {
    transition: all 2s ease; }
  .smooth-color {
    transition: background-color 0.5s ease, color 0.5s ease; }

.subtle {
  opacity: 0.5; }

.tabs li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase; }
  .tabs li a {
    border-bottom: 1px solid transparent;
    display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
  margin: 20px; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  ol a,
  ul a,
  p a {
    color: #FF9B16;
    font-weight: bold;
    text-decoration: none; }

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1; }

p label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px; }
  p label + input[type="email"], p label + input[type="password"], p label + input[type="text"] {
    display: block;
    margin-top: 5px;
    width: calc(100% - 15px); }
p input[type="email"],
p input[type="password"],
p input[type="text"],
p input[type="search"] {
  padding: 5px; }
  @media (max-width: 767px) {
    p input[type="email"],
    p input[type="password"],
    p input[type="text"],
    p input[type="search"] {
      font-size: 16px; } }

@media (max-width: 767px) {
  select {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0; } }

a.button, .box-button a strong,
input[type="submit"].button {
  -webkit-appearance: none;
  background: #FF9B16;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase; }
  a.button.mute, .box-button a strong.mute,
  input[type="submit"].button.mute {
    background: #C9CCCF; }
  a.button.danger, .box-button a strong.danger,
  input[type="submit"].button.danger {
    background: #FF1616; }
  a.button.full, .box-button a strong.full,
  input[type="submit"].button.full {
    width: calc(100% - 40px); }

a.button, .box-button a strong {
  padding-bottom: 8px; }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 20px;
  line-height: 1;
  width: 20px; }

.icon-star-empty {
  background-image: url(../_imgs/icon-star-empty.svg); }

.icon-star-filled {
  background-image: url(../_imgs/icon-star-filled.svg); }

body {
  background: #F6F7F9;
  font-family: 'Nunito', 'avenir next', 'avenir', sans-serif;
  font-size: 15px;
  line-height: 1.5; }

header {
  display: block;
  left: 0;
  width: 100%; }
  @media (max-width: 767px) {
    header {
      background: #fff;
      position: fixed;
      z-index: 11; } }
  header .navigation-toggle {
    background: url("../_imgs/icon-menu.svg") no-repeat center;
    background-size: 16px 18px;
    display: block;
    height: 40px;
    left: 20px;
    margin: 40px 0;
    overflow: hidden;
    position: fixed;
    text-indent: -9999px;
    whitespace: nowrap;
    width: 40px;
    z-index: 10; }

.logo {
  background: url("../_imgs/movie-bohx-logo.svg") no-repeat center;
  background-size: 100%;
  display: block;
  height: 54px;
  margin: 40px auto;
  overflow: hidden;
  text-indent: -9999px;
  whitespace: nowrap;
  width: 105px; }

.navigation {
  background: #fff;
  border-right: 5px solid #D8DCDF;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  max-width: 100%;
  position: fixed;
  top: 0;
  transform: translate(-130%, 0);
  z-index: 5; }
  .navigation ul {
    margin-top: 150px; }
    .navigation ul li a {
      border-left: 5px solid #fff;
      color: #000;
      display: block;
      padding: 10px 10px 10px 30px; }
      .navigation ul li a.active {
        border-left: 5px solid #FF9B16; }

.filter-by {
  padding-top: 5px; }

.additional-actions {
  float: right; }

.app-space {
  float: right; }
  @media (max-width: 767px) {
    .app-space {
      padding-top: 200px; } }
  .app-space .content {
    background: #fff; }
    .app-space .content.index {
      background: none; }
  .app-space .movie-imagery {
    padding-top: 20px; }
    .app-space .movie-imagery img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
    .app-space .movie-imagery p {
      text-align: center; }

.sign-up-space {
  background: #000 url(../_imgs/sign-in-up.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12; }
  .sign-up-space .content .branding .logo {
    background-image: url("../_imgs/movie-bohx-logo-white.svg");
    margin-left: 20px; }
  @media (max-width: 767px) {
    .sign-up-space .content .auth-form {
      background: black;
      background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
      bottom: 0;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding-top: 30vh;
      position: fixed;
      width: 100%; } }
  .sign-up-space .content .auth-form .errors {
    list-style: disc; }
  .sign-up-space .content .auth-form .tabs li a {
    color: #fff; }
    .sign-up-space .content .auth-form .tabs li a.active {
      border-bottom-color: #fff; }

.navigation-open .navigation {
  transform: translate(0, 0); }
.navigation-open .app-space {
  float: right; }

/*# sourceMappingURL=master.css.map */
